<form [formGroup]="registerForm">
    <p-card header="Register" [style]="{width: '360px'}">
        <div class="field">
            <label for="fullName">Full Name</label>
            <input type="text" pInputText formControlName="fullName" class="w-full" name="fullName"
                placeholder="Type your full name here" />
        </div>
        <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="block p-error mb-3">
            <div *ngIf="fullName.errors?.['required']">Name is required</div>
            <div *ngIf="fullName.errors?.['pattern']">Name is invalid</div>
        </small>

        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full" name="email"
                placeholder="Type your email here" />
        </div>
        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error mb-3">
            <div *ngIf="email.errors?.['required']">Email is required</div>
            <div *ngIf="email.errors?.['email']">Email invalid</div>
        </small>

        <div class="field">
            <label for="password">Password</label>
            <input type="password" pInputText formControlName="password" class="w-full" name="password"
                placeholder="Type your password" />
        </div>
        <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error  mb-3">
            <div *ngIf="password.errors?.['required']">Password is required</div>
            <div *ngIf="password.errors?.['password']">Password invalid</div>
        </small>

        <div class="field">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" pInputText formControlName="confirmPassword" class="w-full" name="confirmPassword"
                placeholder="Confirm Password" />
        </div>
        <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
            class="block p-error  mb-3">
            <div *ngIf="confirmPassword.errors?.['required']">Confirm the password</div>
        </small>

        <p-button label="Register" styleClass="w-full" [disabled]="registerForm.invalid"></p-button>

        <div class="mt-3 flex justify-content-center">
            Are you a member?<a routerLink="/login"> Login</a>
        </div>
    </p-card>
</form>